* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 5rem;
  margin-top: 2rem;
  font-family: sans-serif;
}
h1,
h2 {
  text-align: center;
  color: rgb(59, 0, 114);
}
.kick-container,
.snare-container,
.hihat-container {
  display: flex;
  width: 900px;
  margin-left: 15rem;
  justify-content: space-between;
  align-content: center;
}

.control-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.pads {
  display: flex;
}
.pad {
  padding: 1rem;
  margin: 0.5rem;
  cursor: pointer;
}
.kick-pad {
  background: rgb(226, 166, 199);
}
.snare-pad {
  background: rgb(183, 163, 236);
}
.hihat-pad {
  background: rgb(250, 214, 167);
}
.kick-pad.active {
  background: rgb(212, 70, 148);
}
.snare-pad.active {
  background: rgb(112, 67, 236);
}
.hihat-pad.active {
  background: rgb(250, 165, 54);
}

.btn {
  background: rgb(88, 88, 88);
  color: white;
  border: none;
  padding: 0.75rem 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
i {
  pointer-events: none;
}
.btn:hover {
  background: rgb(37, 37, 37);
}
.kick-container .btn {
  margin-left: 1rem;
}
.mute.active {
  background: red;
}
select {
  margin-top: 0.5rem;
  margin-right: 2rem;
  font-size: 1rem;
  width: 8rem;
  height: 2rem;
}
.play,
.tempo {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 5px;
}
.beat-control {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
}
.tempo {
  width: 30%;
}
.slider {
  -webkit-appearance: none;
  margin: 0.5rem 0rem;
  background: rgb(197, 113, 113);
  cursor: pointer;
  border-radius: 1rem;
}
.slider:focus {
  outline: none;
}
.tempo p {
  text-align: center;
}
@keyframes animation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.6);
  }
}
